*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'fira sans';
    overflow-x: hidden;
    /* background-color: red; */
}

.contenedor{
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #1B1A17;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}

/* Scroll */
body::-webkit-scrollbar{

    width: 8px;
    height: 8px;

    background: linear-gradient(to top, rgba(27, 26, 23, 0.151), rgba(240, 227, 202, 0.1));
}

body::-webkit-scrollbar-thumb{

    background-color: #FF8303;
    border-radius: 5px;
}

/* Header */

header{
    width: 100%;
    height: 580px;

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(168, 89, 9, 0.61), hsl(30, 100%, 51%, 0.5)), url(../img/header/main2.jpeg);  
    /* Chrome 10-25, Safari 5.1-6 */ ;
    background: linear-gradient(to right, rgba(168, 89, 9, 0.61), hsl(30, 100%, 51%, 0.5)), url(../img/header/main2.jpeg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 330px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
    margin-top: 150px;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.textos-header a{
    text-decoration: none;
    color: white;
}

.verMas{
    width: 175px;
    height: 60px;
    background-color: #FF8303;
    text-align: center;
    margin-top: 50px;
    border-radius: 30px;
    color: white;
    transition: .5s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);

}

.verMas:hover{
    transform: scale(1.03);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, .5);
}

.verMas p{
    font-size: 20px;
    padding: 15px;
    text-decoration: none; 
    /* background-color: red;  
    /* margin: 10px; */
}
/* Nav */

nav{

    width: 100%;
    height: 70px;
    /* width: 100%;
    height: 60px; */
    background-color: #F0E3CA;
    display: flex;
    justify-content: space-evenly;
}

nav a:nth-child(2){
    margin-left: 32%;
}

nav a{
    color: #000;
    padding: 25px 20px 20px 20px;
    text-decoration: none;
    font-size: 15px;
    margin: 0px 0px;
    transition: .15s;
}

nav > a:hover:not(.icon){
    border-bottom: 5px solid #ffcd69;
    color: #FF8303;
}

.icon img{

    padding-top: 5px;
}

/* Icon Nav */

.icon{
    padding: 8px;
    margin: 0;
    margin-left: 2%;
}

.icon img{
    width: 60px;
    height: 50px;
}

/* Fin del Icon Nav */

/* Nav Pegajoso */

.nav-fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .3);
}

/* Fin del Nav Pegajoso */

/* Menu de Hamburguesa */

.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
    margin-top: 15px;
}

.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.icono-menu, .cont-menu{
    display: none;
}

/* Estilos para el contenedor del menu */

.cont-menu{
    background-color: #1B1A17;
    box-shadow: 2px 0px 5px 2px solid rgb(66, 66, 66);
    width: 32%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
}

/* Estilos para el listado del menu */

.cont-menu ul{
    padding: 100px 0px 20px 0px;
}

.cont-menu ul a{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
    transition: .3s;
}

.cont-menu ul a:hover{
    background-color: rgb(228, 228, 228);
    color: rgb(42, 42, 42);
}

.cont-menu p{
    color: white;
    text-align: center;
    font-size: 10px;
}
/* Estilos por agregar en JS */

.active{
    transform: translate(600px);
}

.opacity{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
}
/* Fin de estilos por agregar en JS */

/* Fin del Menu de Hamburguesa */

/* Wave */

.wave{
    /*position: absolute;*/
    margin-top: 140px;
    bottom: 0;
    width: 100%;
}

/* SN */

#SN{
    background: #F6F2EA;
}

/* About us */
.sobre-nosotros h2{
    margin-top: 40px;
    margin-bottom: 30px;
    /*background-color: #F0E3CA;*/
    background: #F6F2EA;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    /*margin-top: 500px;*/
}

.contenedor-sobre-nosotros img{
    height: 350px;
    margin: 30px 0px;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
    margin-top: 30px;
}

.contenido-textos h3{
    margin-top: 60px;
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background-color: rgb(246, 196, 94);
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos h3{
    color:  #FF8303;
}

.contenidos-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Portafolio */

.portafolio, .more-information{
    background-color: #F0E3CA;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port:hover{
    cursor: pointer;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background-color: rgba(255, 131, 3, 0.6);    
    transition: transform .35s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 37%;
    /* width: 75px; */
}

.hover-galeria p{
    color: #fff;
    margin-top: 10%;
    font-size: 200%;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.portafolio h2, .t-servicios{
    color: #ff9022;
}

/* Menu de Plato */
/* Menu */

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 40%;
    height: 70%;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close{
    transform: translateY(-200%);
}

.modal-container img{
    height: 70%;
    width: 32%;
    transition: transform 0.8s;
    transform: translateY(-200%);
}

/* Texto Menu */

.modal-textos{
    height: 100%;
    margin-top: 6%;
}

.titulo-carta{
    color: #FF8303;
    font-size: 50px;
    margin-bottom: 10%;
}

.descripcion-carta{
    width: 75%;
    text-align: left;
    margin-left: 12%;
    font-size: 21px;
}

.precio{
    margin-top: 10%;
    font-size: 40px;
    color: green;
}
/* Fin del Menu de Plato */

/* Clientes */

.clientes{
    margin-bottom: 60px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background-color: #ff9225;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .7);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* our team  */

.more-information{
    padding: 60px 60px;
    padding-bottom: 100px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;    
}

.servicio-ind img{
    width: 90%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: center;
}

/* Footer */

footer{
    background-color: #1B1A17;
    padding: 53px 0 30px 0;
    margin: auto;
    overflow: hidden;
    border-top: 7px solid rgba(255, 255, 255, 0.164);
}

footer a{
    text-decoration: none;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(156, 155, 155);
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #FF8303;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin: 20px 0 0 0;
    color: #ffffff;
}

.referencias{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 11px;
    width: 50%;
    padding: 20px;
    color: #ccc;
}

.referencias a{
    color: #ccc;
    text-decoration: none;
}

/* Responsive */

@media screen and (max-width:1200px){

    .icono-menu, .cont-menu{
        display: none;
    }

    .opciones{
        display: block;
    }

    /* Separacion de nav */
    nav a:nth-child(2){
        margin-left: 16%;
    }

    nav{
        justify-content:space-between;
    }

}

@media screen and (max-width:900px){

    /* Header */

    header{
        background-position: center;
    }

    /* Sobre nosotros */
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos, .imagen-about-us{
        width: 90%;
    }

    .contenido-textos h3{
        /* padding-bottom: 70px; */
        margin-top: 10px;
    }

    .contenido-textos p{
        margin-bottom: 50px;
    }

    .contenedor-sobre-nosotros img{
        margin-bottom: 0px;
    }

    /* Galeria */
    .imagen-port{
        width: 44%;
    }
    
    /* Clientes */
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* Servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 800px){

    /* Separacion de nav */
    nav a:nth-child(2){
        margin-left: 0;
    }

    /* Pendiente el menu hamburguesa */
    .icono-menu{
        display: block;
    }

    .opciones{
        display: none;
    }
}

@media screen and (max-width:500px){

    /* Menu oculto */
    .cont-menu ul a{
        font-size: 15px;
    }

    .cont-menu p{
        font-size: 7px;
    };

    .cont-menu ul a{
        padding: 10px 20px;
    }

    /* Nav  */
    nav{
        text-align:center;
        padding: 0px;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* About us */
    .imagen-about-us{
        width: 99%;
    }

    /* Galeria */
    .imagen-port{
        width: 95%;
    }

    /* Clientes */
    .cards .card{
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 120px;
        height: 120px;
    }

    /* Servicios */
    .servicio-ind img{
        width: 100%;
        height: 80px;
        text-align: center;
    }

    /* footer */
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .contenedor-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 18px;
        margin-top: 0px;
    }

    .content-foo:nth-child(1), .content-foo:nth-child(2){
        margin-bottom: 50px;
    }
}

/* ANIMACIONES - KEYFRAMES */
/* 
@keyframes mover-izquierda-derecha{
    0%{
        transform: translate(-90%);
    }
}

@keyframes mover-derecha-izquierda{
    0%{
        transform: translate(90%);
    }
} */